{
  "semi": true,
    "singleQuote": true,
      "trailingComma": "all",
        "tabWidth": 2,
          "importOrder": [
            "^react$",
            "^@core/(.*)$",
            "<THIRD_PARTY_MODULES>",
            "^@server/(.*)$",
            "^@ui/(.*)$",
            "^[./]"
          ],
            "importOrderSeparation": false,
              "importOrderSortSpecifiers": true
}